# Generics
*.bak
**/*.bak
**/Adobe Premiere Pro Preview Files/**
*.mp4
**/*.mp4
.DS_Store

# SF2 specific
# SF2 are notoriously heavy, typically.
**/*.sf2
!commons/*.sf2


# B-Bassin_REJected specific
b-bassin-REjected/*.wav
b-bassin-REjected/*.aep

# Goopy specific
goopy/goopyvid_assets/

# B-Bassin-Remastersys specific
b-bassin-Remastersys/b-bassin-remastersys_assets
b-bassin-Remastersys/*.mp4
